/results/*
!/results/Hawaii.vmag.png
!/results/Hawaii.vmag.pdf
!/results/Hawaii.omega.png
!/results/Hawaii.omega.pdf
!/results/Hawaii.p.png
!/results/Hawaii.p.pdf
!/results/Hawaii.q.png
!/results/Hawaii.q.pdf
!/results/Hawaii.voltage-abc.png
!/results/Hawaii.voltage-abc.pdf
!/results/Hawaii.current-abc.png
!/results/Hawaii.current-abc.pdf
!/results/Hawaii.current-dq.png
!/results/Hawaii.current-dq.pdf
!/results/Hawaii.inverter-pq.png
!/results/Hawaii.inverter-pq.pdf
!/results/Hawaii.pll.png
!/results/Hawaii.pll.pdf
!/results/mu50000/
/results/mu50000/*
!/results/mu50000/Hawaii.vmag.png
!/results/mu50000/Hawaii.vmag.pdf
!/results/mu50000/Hawaii.omega.png
!/results/mu50000/Hawaii.omega.pdf
!/results/mu50000/Hawaii.p.png
!/results/mu50000/Hawaii.p.pdf
!/results/mu50000/Hawaii.q.png
!/results/mu50000/Hawaii.q.pdf
!/results/mu50000/Hawaii.voltage-abc.png
!/results/mu50000/Hawaii.voltage-abc.pdf
!/results/mu50000/Hawaii.current-abc.png
!/results/mu50000/Hawaii.current-abc.pdf
!/results/mu50000/Hawaii.current-dq.png
!/results/mu50000/Hawaii.current-dq.pdf
!/results/mu50000/Hawaii.inverter-pq.png
!/results/mu50000/Hawaii.inverter-pq.pdf
!/results/mu50000/Hawaii.pll.png
!/results/mu50000/Hawaii.pll.pdf
!/results/mu50000/Hawaii.switching.png
!/results/mu50000/Hawaii.switching.pdf
phasor-reference/
