Checks: '-*,--clang-analyzer-*,-clang-analyzer-cplusplus*,google-*,bugprone-*,cppcoreguidelines-*,readability-*,-bugprone-easily-swappable-parameters,-google-readability-todo'
# Checks: '-*,readability-identifier-naming'
HeaderFilterRegex: '.*' # Makes certain to check header files (by default ignores them)
UseColor: True
CheckOptions:
  readability-identifier-length.IgnoredVariableNames: '^_$' # Variables named '_' are ignored
  readability-identifier-naming.LocalVariableCase: 'lower_case'
  readability-identifier-naming.MemberCase: 'lower_case'
  readability-identifier-naming.MemberSuffix: '_'
  readability-identifier-naming.FunctionCase: 'camelBack'
  readability-identifier-naming.ClassCase: 'CamelCase'
  readability-identifier-naming.EnumCase: 'UPPER_CASE'
  readability-identifier-naming.ConstexprVariableCase: 'UPPER_CASE'
  cppcoreguidelines-avoid-magic-numbers.IgnoredFloatingPointValues: '1.0;2.0;0.5'
  readability-magic-numbers.IgnoredFloatingPointValues: '1.0;2.0;0.5'
