---
Language:        Cpp
BasedOnStyle:  LLVM

# Indentation
IndentWidth: 4                    # 4 spaces per indent
AccessModifierOffset: -4
IndentAccessModifiers: false      # Align access modifiers to braces
NamespaceIndentation: All         # Indent namspace contents

# Newlines
ColumnLimit:     120
BreakBeforeBraces: Allman         # Braces on their own lines
SeparateDefinitionBlocks: Always  # Separate definitions (functions etc.) with an empty line
AlwaysBreakTemplateDeclarations: true # Put template on their own lines

# Spaces
SpaceBeforeParens: ControlStatementsExceptControlMacros
SpaceAfterCStyleCast: true

# Includes
IncludeBlocks: Regroup            # Regroup includes based on config
IncludeCategories:
  - Regex:           '(^"|\.hpp)'  # 'local' includes
    Priority:        3
    SortPriority:    0
    CaseSensitive:   false
  - Regex:           '\/'         # Library includes
    Priority:        2
    SortPriority:    0
    CaseSensitive:   false
  - Regex:           '.*'         # Everything else
    Priority:        1
    SortPriority:    0
    CaseSensitive:   false
...

