[submodule "third-party/nlohmann-json"]
	path = third-party/nlohmann-json
	url = https://github.com/nlohmann/json
[submodule "third-party/magic-enum"]
	path = third-party/magic-enum
	url = https://github.com/Neargye/magic_enum
[submodule "buildsystem/spack"]
	path = buildsystem/spack
	url = https://github.com/spack/spack.git
